---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Card from "../components/Card.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Home Page";
const headerID = "home-title";
---

<style>
	a {
		text-decoration: underline;
	}
	ul#cards {
		list-style-type: none;
	}
	h2 {
		padding-top: 20px;
	}
</style>

<BaseLayout pageTitle={pageTitle} header={headerID}>
	<p>
		Hello! My name is Stephanie Nakamata and I'm a software
		developer. I'm currently at the <a href="https://www.recurse.com"
			>Recurse Center</a
		> learning about backend systems, cryptography,
		ML, web security, and more!
	</p>
	<p>
		Here, you'll find a collection of things resulting from coding:
		thoughts, projects, details of my evolution?!
	</p>

	<h2>Latest Blog Posts</h2>
	<!-- slice -5 and reverse for hte latest blog posts -->
	<!-- blog about islands and react, project overview, front and back end -->
	<!-- have blogPost get passed written date!! that will be a good thing to format by -->
	<ul>
		{
			allPosts
				.slice(-3)
				.map((post) => (
					<BlogPost
						url={`/posts/${post.slug}`}
						title={post.data.title}
						date={post.data.pubDate}
					/>
				))
				.reverse()
		}
	</ul>
	<h2>Recent Projects</h2>
	<ul id="cards">
		<li>
			<Card
				url="/projects/doorbot"
				img="/assets/doorbot2.png"
				title="RC Doorbot App"
				description="A mobile app to get access to the RC hub built with React Native!"
				/>
		</li>
		<li>
			<Card
				url="/projects/laundry"
				img="/assets/laundry.png"
				title="How to Wash your Clothes"
				description="A program that classifies laundry tag icons to give the user readable instructions on how to care for their clothes. The computer vision model was trained on dataset using PyTorch. Dataset handcrafted and processed by me :)"
			/>
		</li>
		<li>
			<Card
				url="/projects/microserv"
				img="/assets/youflix.png"
				title="YouFlix"
				description="A distributed backend application on the cloud for video streaming! Deployed on Azure Kubernetes Services, and built with Terraform, Docker, mongoDB, and more..."
			/>
		</li>
		<li>
			<Card
				url="/projects/islands"
				img="/assets/islands3.png"
				title="Islands"
				description="A full-stack implementation of Nurikabe built with React and Node!"
			/>
		</li>
	</ul>
	<h2>List of Things I'm Working On</h2>
	<ul>
		<li>A pairing bot on the Zulip platform to bring people who want to get BOGO lunch deals together</li>
		<li>A cute computer vision project</li>
		<li>
			Machine learning fundamentals with <a
				href="https://karpathy.ai/zero-to-hero.html"
			>
				Karpathy's Neural Networks: Zero to Hero</a
			> series and <a href="https://www.arena.education">AI safety</a>
		</li>
		<li>
			<a href="https://cryptopals.com">Cryptopals!</a> Currently on Set 5,
			Challenge 40 - implementing an RSA broadcast attack with E=3
		</li>
		<li>
			A data analysis and visualization project using <a
				href="https://opendata.cityofnewyork.us">NYC Open Data</a
			>
		</li>
		<li>
			Learning about web security on <a
				href="https://portswigger.net/web-security/learning-paths"
				>Port Swigger</a
			> and <a href="https://ctf.hacker101.com/ctf">CTF challenges!</a>
		</li>
		<li>Getting better at blogging</li>
	</ul>
</BaseLayout>
